name: Continuous Integration (CI)

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: make
      run: make
    - name: make debug
      run: make debug
    - name: make release
      run: make release
    - name: make test
      run: make test
    - name: make clean
      run: make clean
    - name: make all
      run: make all
    - name: make check
      run: make check
    - name: make report
      run: make report
